{% extends 'base.html' %} 

{% block titulo %}
    Formulário de Cadastro
{% endblock %}

{% block conteudo %}
    <body class="text-center">
        <div class="container">
            <img class="mb-4" src="https://images.freeimages.com/clg/istock/previews/1065/106529013-user-login-or-authenticate-icon-vector.jpg" alt="Cadastro Icon" style="width: 150px; margin-top: 50px">
            <h1 class="h3 mb-3 font-weight-normal" style="color: #e6eaee; font-family: 'Poppins', 'sans-serif'">
                Create your account
            </h1><hr>
            
            <form method="post" class="form-signin" style="color: #f5f7f8; max-width: 400px; margin: auto; " >

                {{ form.hidden_tag() }}

                <label for="{{ form.usuario.id }}" class="visually-hidden">{{ form.usuario.label }}</label>
                {{ form.usuario(class='form-control', placeholder="Inform the Username", required=true) }}
                <hr>

                <label for="{{ form.email.id }}" class="visually-hidden">{{ form.email.label }}</label>
                {{ form.email(class='form-control', placeholder="Inform your E-mail", required=true) }}
                <hr>

                <label for="{{ form.senha1.id }}" class="visually-hidden">{{ form.senha1.label }}</label>
                {{ form.senha1(class='form-control', placeholder="Inform your Password", required=true) }}
                <hr>

                <label for="{{ form.senha2.id }}" class="visually-hidden">{{ form.senha2.label }}</label>
                {{ form.senha2(class='form-control', placeholder="Confirm your Password", required=true) }}
                <br>
                <div class="d-grid mt-3">
                    {{ form.submit(class="btn btn-lg btn-success btn-glow", style="background-color: #28a745; border-color: #28a745; margin-top: -10px ") }}
                </div>
            </form>
        </div>

        <style>
            /* Efeito de brilho */
            .btn-glow {
                transition: box-shadow 0.3s ease-in-out;
            }

            .btn-glow:hover {
                box-shadow: 0 0 20px 0 #28a745;
            }
        </style>

    </body>
{% endblock %}

