{% extends 'base.html' %}

{% block title %}
      Home  
{% endblock %}

{% block conteudo %}
  <h2 style="text-align:center; font-family: 'Poppins', 'sans-serif'">App Market</h2>
  <hr>
  <div class="py-5">
    <header class="h-100 p-5 text-white bg-dark text-center justify-content-center align items center">
      <h1 class="display-5 fw-bold" style="font-family: 'Poppins', 'sans-serif' ">Welcome!</h1>
      <p class="fs-4" style="font-family: 'Poppins', 'sans-serif'">To acess the product page, chick on the button below.</p>
      <a class="btn btn-sm btn-secondary" type="button"  href="{{url_for('page_product')}}">Start</a>
    </header>

  </div>
{% endblock %}

